.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.user {
    padding: 10px;
}
.user img {
    width: 50px;
    border-radius: 50%;
}
.user a {
    text-decoration: none;
}
.user a.active {
    color: ghostwhite;
}
.texts {
    padding: 10px;
}
