.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.users {

}
.user {
    padding: 10px;
}
.user img {
    width: 50px;
    border-radius: 50%;
}
.active {
    color: ghostwhite;
}
.texts {
    padding: 10px;
}
.text {
   
}